body {
  background-color: #a87a7a;
  color: #777;
  padding: 1.2em;
  font-family: sans-serif;
}

.page h1 {
  color: #2f4f4f;
}

.page {
  padding: 1em;
  background: #cecece;
}

 footer {
   background:  #2f4f4f;
   padding: 24px 0;
}

.copy h4{
  padding-left: 3%;
  font-family: 'Castoro', serif;
  font-size: 1.1em;
}
.copy li{
  font-size: 0.9em;
   line-height: 1.7em;
   color: #FFB6C1;
   text-align: left;
   font-family: 'Nerko One', cursive;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.table tr {
		background-color: #E5ECEB;;
}

.table th,
.table td {
		text-align: center;
	 	padding: 10px;
		border: 2px solid #C5CACE;
}
@media screen and (max-width: 600px) {
.table {
		border: 0;
  	}
  
  
.table thead {
	    border: none;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
  	}
  
.table tr {
    	border-bottom: 2px solid #ddd;
    	display: block;
   		margin-bottom: 30px;
  	}
  
.table td {
    	display: block;
    	text-align: right;
	}
  
.table td::before {
	    content: attr(data-label);
	    float: left;
	    font-weight: bold;
	    text-transform: uppercase;
	}
  
.table td:last-child {
    	border-bottom: 0;
  	}
}

img {
	width: 350px;
	height: 220px;
}

td {
	text-decoration-color: #2F4F4F;
	color: #2F4F4F;
}

tr {
	color: #B68383;
}