body {
  background-color: #a87a7a;
  color: #777;
  padding: 4em;
  font-family: sans-serif;
}

.page h1 {
  color: #2f4f4f;
}

.page {
  padding: 1em;
  background: #cecece;
}

footer {
   background:  #2f4f4f;
   padding: 24px 0;
}

.button_up img {
  width: 3em;
  hyphens: 3em;
}

.verh {
   display: -webkit-inline-flex;
  display: inline-flex;
  size: 100%;
}

.verh img {
  width: 3rem;
  height: 3rem;
}


.copy h4{
  padding-left: 3%;
  font-family: 'Castoro', serif;
  font-size: 1.1em;
}
.copy li a{
  font-size: 0.9em;
   line-height: 1.7em;
   color: #FFB6C1;
   text-align: left;
   font-family: 'Nerko One', cursive;
   text-transform: uppercase;
}

.container {
    padding: 2em; // выравнивание по центру
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts__element {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex-basis: 32%;
    margin-bottom: 22px;
    position: relative; // для позиционирования контента внутри поста
}

.posts__info1 p {
    font-size: 20px;
}

 .posts__element > img {
    display: block;
    width: 100%;
}

.posts__info1 {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.posts__info {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.posts__element--big {

    flex-basis: 66%;
}

.posts__element--big img {
    flex-grow: 1;
}

 @media screen and (max-width: 768px) {

    .posts__element {
        flex-basis: 49%;
    }

     .posts__element--big img {
        flex-grow: 0;
    }
}

 @media screen and (max-width: 480px) {

    .posts__element {
        flex-basis: 100%;
    }
}

.mint li {
  list-style: circle;
}
